@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
}

.full-h-w {
  width: 100vw;
  min-height: 100vh;
  overflow:"hidden";
}

.wallet-connect-btn{
  padding: 20px 40px !important;

}


@layer base {
  .bg_gradient{
    @apply bg-gradient-to-r from-slate-900 via-purple-900 to-slate-900
  }

  .page_section{
    @apply h-full w-full min-h-[90vh]
  }
    .flex_center {
      @apply flex flex-col justify-center items-center;
    }

    .basic_btn {
      @apply text-black bg-white hover:bg-gray-100 border border-gray-200 rounded-lg text-xl px-8  py-3 text-center inline-flex items-center gap-2
    }

    .basic_btn_2 {
      @apply text-black bg-white hover:bg-gray-100 border-2 border-black rounded-lg text-lg px-6  py-2 text-center inline-flex items-center gap-2
    }

    .basic_input {
      @apply bg-gray-800 border border-gray-300 text-gray-100 text-lg rounded-lg block w-full p-2.5 
    }

    .primary_gradient {
      @apply bg-gradient-to-r from-amber-500 via-primary to-yellow-500 bg-clip-text text-transparent;
    }

    .secondary_gradient {
      @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
    }

    .orange_gradient {
      @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
    }
    
    .green_gradient {
      @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
    }
    
    .blue_gradient {
      @apply bg-gradient-to-r from-third to-primary bg-clip-text text-transparent;
    }
    .glassmorphism-bg {
      @apply  shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
    }

    .glassmorphism-chessboard-bg {
      @apply p-6 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] rounded-xl;
    }

    .glassmorphism-box {
      @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
    }

    .black_btn {
      @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm  flex items-center justify-center;
    }
    
    .outline_btn {
      @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm flex items-center justify-center;
    }
    
  }