@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
}

.body {
  width: 100vw;
  min-height: 100vh;
  overflow:"hidden";
}



@layer base {
  .bg_gradient{
    @apply bg-gradient-to-r from-slate-900 via-purple-900 to-slate-900
  }

  .page_section{
    @apply h-full w-full
  }
    .flex_center {
      @apply flex flex-col justify-center items-center;
    }

    .basic_btn {
      @apply text-white bg-purple-700 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900;
    }

    .basic_input {
      @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
    }
  }